<div class="container">
  <div class="col-md-6">
    <label>Lote</label>
    <input class="form-control" type="text" [(ngModel)]="lote">
  </div>
  <br>
  <div class="col-md-6">
    <button type="button" class="btn btn-primary" (click)="add()">Add</button>
    <button type="button" class="btn btn-danger" (click)='deleteAll()'>Delete All</button>
  </div>
  <hr>
  <div class="col-md-6">
      <p-checkbox name="groupname" (click)="toggleBit()" value="bit"></p-checkbox>
    <!-- Rounded switch -->
    <label>Off/On</label>
    <br>
    <label class="switch">
      <input type="checkbox" (click)="toggleBit()">
      <span class="slider round" [ngClass]="{'slider': bit, 'slider:before': !bit}"></span>
    </label>
    <div class="col-md-6">
      <input type="text" [ngClass]="{'on': bit, 'off': !bit}">
    </div>
  </div>
  <hr>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Lote</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producao of producoes | async">
        <td>{{producao.id}}</td>
        <td>{{producao.data | date: 'dd/MM/yyyy'}}</td>
        <td>{{producao.lote}}</td>
      </tr>
    </tbody>
  </table>
</div>