<div class="container">
  <div class="col-md-6">
    <label>Lote</label>
    <input class="form-control" type="text" [(ngModel)]="lote">
  </div>
  <br>
  <div class="col-md-6">
    <button type="button" class="btn btn-primary" (click)="add()">Add</button>
    <button type="button" class="btn btn-danger" (click)='deleteAll()'>Delete All</button>
  </div>
  <hr>
  <div class="col-md-6">
    <!-- Rounded switch -->
    <label>Off/On LED</label>
    <br>
    <div class="row">
      <div>
        <label class="switch">
          <input type="checkbox" (click)="toggleLed()">
          <span class="slider round"></span>
        </label>
      </div>
      <div>
        <input type="text" [ngClass]="{'on': led, 'off': !led}">
      </div>
    </div>
  </div>
  <hr>
  <div class="col-md-6">
    <!-- Rounded switch -->
    <label>Off/On Botão</label>
    <br>
    <input type="text" [ngClass]="{'on': button, 'off': !button}">
    <br>
    <label>Counter</label>
    <br>
    {{counter}}
  </div>
  <hr>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Lote</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producao of producoes | async">
        <td>{{producao.id}}</td>
        <td>{{producao.data | date: 'dd/MM/yyyy'}}</td>
        <td>{{producao.lote}}</td>
      </tr>
    </tbody>
  </table>
</div>