<p-sidebar [(visible)]="display">
  <app-sidebar></app-sidebar>
</p-sidebar>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link link-hovered" (click)="display = true">
          <i class="fa fa-bars fa-2x text-primary"></i>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="dropdown">
          <a routerLink="" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle"></i>
            {{ authService.getEmail() }}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!--a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a-->
            <a class="dropdown-item" (click)="logout()">
              <i class="fa fa-sign-out"></i>
              Lougout
            </a>
          </div>
        </div>
      </li>
      <li>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>