<div style="margin-top:70px;">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-primary" routerLink="dashboard">
        <i class="fa fa-tachometer fa-2x fa-2x"></i>
        Dashboard
      </a>
    </li>
    <br>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link text-primary" routerLink="monitoramento">
        <i class="fa fa-binoculars fa-2x"></i>
        Monitoramento
      </a>
    </li>
    <br>
    <li class="nav-item">
      <a class="nav-link text-primary" routerLink="consultas">
        <i class="fa fa-search fa-2x"></i>
        Consultas
      </a>
    </li>
    <br>
    <li class="nav-item">
      <a class="nav-link text-primary" routerLink="relatorios">
        <i class="fa fa-line-chart fa-2x"></i>
        Relatórios
      </a>
    </li>
  </ul>
</div>